@media (min-width: 992px) {

.row {
 width: 100%;
 }
 
.title {
 font-size: 125%;
 border: 1px solid #000000;
 box-sizing: border-box;
 background-color: #333333;
 }

h1 {
 font-size: 125%;
 color: #CC9900;
}

div {
 position: relative;
 border: 1px solid #000000;
 box-sizing: border-box;
 padding: 10px;
 margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

p {
 position: relative;
 border: 1px solid #000000;
 width: 33%;
 padding: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-right: 10px;
 margin-left: 10px;
 font-family: serif 16pt;
 color: #000000;
 background-color: #FFE7C6;
}
}

@media (min-width: 768px) and (max-width: 991px) {
 
 .row {
 width: 100%;
 }

h1 {
 font-size: 125%;
 color: #CC9900;
}

div {
 position: relative;
 border: 1px solid #000000;
 box-sizing: border-box;
 padding: 10px;
 margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

p {
 width: 50%;
 position: relative;
 border: 1px solid #000000;
 padding: 10px;
 margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
 font-family: serif 16pt;
 color: #000000;
 background-color: #FFE7C6;
}
}
 
@media (max-width: 767px) {

 .row {
 width: 100%;
 }
 
h1 {
 font-size: 125%;
 color: #CC9900;
}

div {
 position: relative;
 border: 1px solid #000000;
 box-sizing: border-box;
 padding: 10px;
 margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

p {
 width: 100%;
 position: relative;
 border: 1px solid #000000;
 padding: 10px;
 margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
 font-family: serif 16pt;
 color: #000000;
 background-color: #FFE7C6;
}

}
