

p {
 color: #003300;
 background-color: #FFFFCC
}

h1 {
 color: #CC9900;
}

 .row {
  width: 100%;
  }
  
@media (min-width: 992px) {
    #p1 {
 width: 33%;    
}
    #p2 {
 width: 33%;    
}
   #p3 {
 width: 33%;    
}
}

@media (min-width: 768px) and (max-width: 991px) {
    #p1 {
 width: 33%;    
}
    #p2 {
 width: 33%;    
}
   #p3 {
 width: 33%;    
}
}
    
  @media (max-width: 767px) {
    #p1 {
 width: 33%;    
}
    #p2 {
 width: 33%;    
}
   #p3 {
 width: 33%;    
}
}
